.citySearch__results {
    padding: 0px;
    margin: 0px;
    overflow: auto;
    width: inherit;
    text-align-last: center;
    li {
        list-style: none;
    }
}
.citySearch {
    margin: 0 auto;
    select {
        text-align: center;
        height: 5vh;
    }
}

.blueBtn{
    display: block;
}
.blueBtn:hover,
.blueBtn:focus {
  background-color: blue;
}

