.resultsList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 500px;
    overflow: auto;
    .restaurant {
        background-color: greenyellow;
        margin: 10px;
        height: 200px;
        width: 200px;
    }
}